body{
    background-color: black;
    font-family: 'Inter';
    font-style: normal;
}

#container{
    background-color: #FFCD9E;
    width: 1440px;
    height: 592px;
    margin-top: -40px;
    margin-left: 40px;
    display: flex;
    justify-content: space-around;
}

#inspiring_div{
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #282828;
}
#team_div{
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #484848;
}
#look_div{
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #282828;
}
#input_div{
    width: 344px;
    height: 64px;
    background: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 8px;
}
#button_div{
    width: 216px;
    height: 64px;
    background: #282828;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    transition-duration: 0.4s;
}
#button_div:hover{
    cursor: pointer;
}

#left_container{
    margin-top: 75px;
}
#right_container{
    margin-top: 115px;
}

#foot_div{
    display: flex;
    justify-content: space-around;
    background-color: #282828;
    margin-left: 40px;
    margin-right: 22.5px;
}
#left_foot{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
#right_foot{
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    margin-top: 30px;
    text-align: right;
}