/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.cream {
    background-color: #FFCD9E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: relative;
    width: 1440px;
    height: 600px;
    margin-top: -130px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h3 {
    height: 108px;
    width: 562px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    margin-top: -330px;
    margin-left: 110px;
}

#p_team {
    width: 495px;
    height: 81px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 93px;
    margin-left: -852px;
}

#p_looks {
    width: 227px;
    height: 81px;
    left: 136px;
    top: 315px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: -200px;

    color: #282828;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 540px;
    margin-left: -1000px;
}

#email {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #282828;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.image {
    display: flex;
    justify-content: flex-end;
}

.image img {
    width: 200px;
    margin-top: 30px;
} */

*{
    font-family: 'Inter';
    font-style: normal;
}

#container{
    background-color: #FFCD9E;
    width: 1440px;
    height: 592px;
    margin-top: -10px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#inspiring_h3{
    color: #282828;
    width: 562px;
    height: 108px;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

#team_para{
    color: #484848;
    width: 495px;
    height: 81px;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
}

#show_para{
    color: #282828;
    width: 227px;
    height: 81px;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    margin-top: 50px;
}

#email_input{
    width: 344px;
    height: 64px;
    border: 4px solid #000000;
    border-radius: 8px;
}

#button_input{
    width: 216px;
    height: 64px;
    background: #282828;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

#left_container{
    margin-top: 50px;
}
#right_container{
    margin-top: 95px;
}
#input_button{
    margin-top: -20px;
}

#left_list{
    color: white;
}
.lefty{
    width: 236px;
    height: 36px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

#right_list{
    color: white;
}
.righty{
    width: 148px;
    height: 36px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}
#foot{
    background-color: #282828;
    margin-left: 40px;
    margin-right: 23px;
    display: flex;
    justify-content: space-around;
}

#email_input::placeholder{
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
}